<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>845486740273-pe7v60t3417lkm711uhcvnn2ca3v4h8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845486740273-pe7v60t3417lkm711uhcvnn2ca3v4h8j</string>
	<key>API_KEY</key>
	<string>AIzaSyBUe5cVg1ziPyc6Iw1Qi0bemGRhkn6RBWo</string>
	<key>GCM_SENDER_ID</key>
	<string>845486740273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rangerbud.Beerfinder</string>
	<key>PROJECT_ID</key>
	<string>beerfinder-18873</string>
	<key>STORAGE_BUCKET</key>
	<string>beerfinder-18873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:845486740273:ios:1c1fd82360efa90f</string>
	<key>DATABASE_URL</key>
	<string>https://beerfinder-18873.firebaseio.com</string>
</dict>
</plist>